<!-- experimental.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Mech Trucker Prototype</title>
  <link rel="stylesheet" href="/stylesheets/experimental.css" />
</head>
<body> 
  <div id="game-root">
    <!-- Fullscreen game canvas -->
    <canvas id="gameCanvas" width="1280" height="720"></canvas>

    <!-- Overlay UI Panels -->
    <div id="ui-overlay">
      <div class="ui-panel" id="panel-top-left"></div>
      <div class="ui-panel" id="panel-top-center"></div>
      <div class="ui-panel" id="panel-top-right">
        <canvas id="systemMonitorCanvas" width="260" height="100"></canvas>
      </div>
      <div class="ui-panel" id="panel-mid-left"></div>
      <div class="ui-panel" id="panel-center-main">
        <canvas id="hudCanvas" width="400" height="300"></canvas>
        <img id="rpmWheelImg" src="/images/rpm-wheel.svg" alt="RPM Wheel" hidden />
      </div>
      <div class="ui-panel" id="panel-mid-right"></div>
      <div class="ui-panel" id="panel-bottom-left"></div>
      <div class="ui-panel" id="panel-bottom-center"></div>
      <div class="ui-panel" id="panel-bottom-right"></div>
    </div>
  </div>

  <!-- UI Component Scripts -->
  <script src="/javascripts/experimental-components.js"></script>
  <script src="/javascripts/experimental-state-controller.js"></script>
  <script src="/javascripts/experimental-main.js"></script>
</body>
</html>
