<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mecha Trucker Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/mechatrucker.css">
</head>
<body>
  <div id="game-container"></div>

  <script src="/javascripts/Mechatrucker/matter.js"></script>
  <script type="module" src="/javascripts/Mechatrucker/utils/helpers.js"></script>
  <script type="module" src="/javascripts/Mechatrucker/objects/interactable.js"></script>
  <script type="module" src="/javascripts/Mechatrucker/objects/controls.js"></script>
  <script type="module" src="/javascripts/Mechatrucker/objects/mech.js"></script>
  <script type="module" src="/javascripts/Mechatrucker/modules/sceneManager.js"></script>
  <script type="module" src="/javascripts/Mechatrucker/modules/inputManager.js"></script>
  <script type="module" src="/javascripts/Mechatrucker/modules/physics.js"></script>
  <script type="module" src="/javascripts/Mechatrucker/modules/renderer.js"></script>
  <script type="module" src="/javascripts/Mechatrucker/modules/engine.js"></script>
  <script type="module" src="/javascripts/Mechatrucker/modules/eventEmitter.js"></script>
  <script type="module" src="/javascripts/Mechatrucker/main.js"></script>
</body>
</html>
