<!DOCTYPE html>
<html>
  <head>
    <title>Kostroun.gg</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/tinysort.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="spinner-container flex just-center align-i-center"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
    <div class="flex row btn-panel">
      <button class="logo" tabindex="1"><span class="kstr">Kostroun.</span><span class="gg">gg</span></button>
      <button class="btn template"></button>
    </div>
    <button class="close-btn">X</button>
    <div class="gizmo template">
      <div class="title"><h3 class="title"></h3></div>
      <div class="body"></div>
    </div>
    <div class="gizmo treasure-gen">
      <div class="title">Fantasy Treasure Generator (Sword & Wizardry -based)<h3 class="title"></h3></div>
      <div class="body">
        <div class="flex row align-i-center">
          <p>Encounter XP:</p> <input type="text" class="input-value"> <button class="gen-treasure btn">Generate Treasure</button> <button class="gen-open-tweak btn">Show additional settings</button>
        </div>
        <div class="flex row gen-tweaking-panel">
          <div class="flex row align-i-center gen-tweak-option"><p>Sword & Wizardry [1d3+1] Multiplier:</p><label class="switch sw-base-multiplier"><input type="checkbox" checked="checked"><div class="slider"></div></label></div>
          <div class="flex row align-i-center gen-tweak-option"><p>5000gp Trade Out:</p><label class="switch sw-5000-tradeout"><input type="checkbox" checked="checked"><div class="slider"></div></label></div>
          <div class="flex row align-i-center gen-tweak-option"><p>1000gp Trade Out:</p><label class="switch sw-1000-tradeout"><input type="checkbox" checked="checked"><div class="slider"></div></label></div>
          <div class="flex row align-i-center gen-tweak-option"><p>100gp Trade Out:</p><label class="switch sw-100-tradeout"><input type="checkbox" checked="checked"><div class="slider"></div></label></div>
          <div class="flex row align-i-center gen-tweak-option"><p>Antique Trade Out:</p><label class="switch sw-antique-tradeout"><input type="checkbox" checked="checked"><div class="slider"></div></label></div>
          <div class="flex row align-i-center gen-tweak-option"><p>Goods Trade Out:</p><label class="switch sw-goods-tradeout"><input type="checkbox" checked="checked"><div class="slider"></div></label></div>
        </div>
        <div class="flex col gen-results">
          <div class="flex col mrg-1em gen-item template"><div class="item-description"></div><div class="item-weight"></div></div>
          <div class="mrg-1em gen-container card template"></div>
        </div>
      </div>
    </div>
  </body>
</html>