<!DOCTYPE html>
<html>
  <head>
    <title>Kostroun.gg</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/common.css'/>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel="stylesheet" href="/stylesheets/fontawesome.css">
    <link rel="stylesheet" href="/stylesheets/brands.css">
    <link rel="stylesheet" href="/stylesheets/solid.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/tinysort.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="work-in-progress flex jc-center align-i-center">Something is brewing here...</div>
    <div class="spinner-container flex jc-center align-i-center"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
    <div class="flex row header bg-alt">
      <button class="logo" tabindex="1"><span class="kstr">Kostroun.</span><span class="gg">gg</span></button>
    </div>
    <div class="flex col no-wrap notification-panel"></div>
    <div class="flex align-i-center jc-center popup">
      <button class="close-popup-btn"><i class="fa fa-times"></i></button>
    </div>
    <div class="flex col page-content">
      <div class="flex row resource-container"></div>
      <div class="flex row opponent-container"></div>
      <div class="flex row wrap tile-container"></div>
    </div>
    <div class="template">
      <button class="btn template"></button>
      <div class="flex row align-i-center mrg-01em switch-btn template"><p class="label"></p><div class="switch-container"><label class="switch"><input type="checkbox"><div class="slider"></div></label></div></div>
      <div class="separator template"></div>
      <div class="flex bg-alt mrg-1em notification template"><p class="mrg-1em notification-text"></p></div>
      <div class="flex jc-center align-i-center resource-silo template"><span class="icon-slot"></span><span class="resource-value"></span></div>
      <div class="flex jc-center align-i-center tile template">
        <div class="tile-part first"></div>
        <div class="tile-part second"></div>
        <div class="tile-part third"></div>
      </div>
      <div class="flex jc-center align-i-center opponent-card template">
        <div class="flex col">
          <div class="flex row h-12em">
            <div class="portait"><img src="images/dp/placeholder-portrait.png" alt=""></div>
            <div class="flex col">
              <h3 class="flex"><span class="name mrg-01em"></span><span class="power mrg-01em"><span class="label">Power: </span><span class="value"></span></span></h3>
              <div class="description mrg-01em"></div>
            </div>
          </div>
          <div class="flex row jc-space-ar wounds"></div>
        </div>
      </div>
    </div>
    <div class="flex row wrap jc-space-ar footer bg-main">
      Kostroun.gg © 2023
    </div>
  </body>
</html>