<!DOCTYPE html>
<html>
  <head>
    <title>Kostroun.gg</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/tinysort.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="spinner-container flex just-center align-i-center"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
    <div class="flex row btn-panel">
      <div class="logo"><span class="kstr">Kostroun.</span><span class="gg">gg</span></div>
      <div class="btn template"></div>
      <div class="nu-avalon btn">Nu Avalon Dashboard</div>
    </div>
    <div class="close-btn">X</div>
    <div class="gizmo template">
      <div class="title"><h3 class="title"></h3></div>
      <div class="body"></div>
    </div>
    <div class="gizmo sw-treasure">
      <div class="title">Sword & Wizardry Treasure<h3 class="title"></h3></div>
      <div class="body">
        <div class="flex row align-i-center">
          <p>Encounter XP:</p> <input type="text" class="sw-input-value"> <div class="sw-gen-treasure btn">Generate Treasure</div>
        </div>
        <div class="flex col sw-gen-results">
          <div class="mrg-1em sw-gen-line template"></div>
          <div class="mrg-1em sw-gen-line">Results:</div>
        </div>
      </div>
    </div>
  </body>
</html>