<!DOCTYPE html>
<html>
  <head>
    <title>Kostroun.gg</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/tinysort.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="spinner-container flex just-center align-i-center"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
    <div class="flex row header">
      <button class="logo" tabindex="1"><span class="kstr">Kostroun.</span><span class="gg">gg</span></button>
      <div class="flex col align-i-center mrg-1em">
        <h2>Сообщество для любителей настольных, ролевых и видео- игр</h2>
      </div>
    </div>
    <button class="close-btn">X</button>
    <div class="gizmo template">
      <div class="title"><h3 class="title"></h3></div>
      <div class="body"></div>
    </div>
    <div class="gizmo treasure-gen">
      <h3 class="title">Генератор Фэнтези* Сокровищ</h3>
      <small>* на основе Sword & Wizardry</small> <br><br>
      <small>Каждый тип обмена может быть включен или выключен индивидуально в настройках. Авторские опции обмена используют простую систему стоимости:</small> <br>
      <small>Обычное — стоимость предмета на обмен считает как случайное от 0 до 50% от денежного эквивалента обмена</small> <br>
      <small>Необычное — стоимость предмета на обмен считает как случайное от 50% до 100% от денежного эквивалента обмена</small> <br>
      <small>Редкое — стоимость предмета на обмен считает как случайное от 100% до 150% от денежного эквивалента обмена</small> <br>
      <small>Очень Редкое — стоимость предмета на обмен считает как случайное от 150% до 200% от денежного эквивалента обмена</small> <br>
      <small>Предполагается, что игроки имеют возможность поторговаться и поднять стоимость выше (или опустить, в случае дурной репутации) выпавшей</small> <br>
      <div class="body">
        <div class="flex row align-i-center">
          <p>Encounter XP:</p> <input type="text" class="input-value"> <button class="gen-treasure btn">Сгенерировать сокровища</button> <button class="gen-open-tweak btn">Показать настройки</button>
        </div>
        <div class="flex row gen-tweaking-panel">
          <div class="flex row align-i-center mrg-01em"><small>* - авторские опции обмена</small></div>
          <div class="flex row align-i-center gen-tweak-option switch-btn template"><p class="label"></p><div class="switch-container"><label class="switch"><input type="checkbox"><div class="slider"></div></label></div></div>
        </div>
        <div class="flex col gen-results">
          <div class="flex col mrg-1em pdng-1em just-center white-space-nowrap card reverse-colors gen-item template">
            <div class="item-text">
            </div>
            <div class="item-type">
              <span class="label">Тип: </span> <span class="value"></span>
            </div>
            <div class="item-description">
              <span class="label">Описание: </span> <span class="value"></span>
            </div>
            <div class="item-value">
              <span class="label">Стоимости: </span> <span class="value"></span>
            </div>
            <div class="item-weight">
              <span class="label">Вес: </span> <span class="value"></span>
            </div>
            <div class="item-rarity">
              <span class="label">Редкость: </span> <span class="value"></span>
            </div>
          </div>
          <div class="flex row wrap mrg-1em gen-container card template"></div>
        </div>
      </div>
    </div>
    <div class="flex row wrap gizmos-panel main-content-block">
      <div class="flex col align-i-center just-center mrg-1em">
        <small>Наши инструменты:</small>
      </div>
      <button class="btn template"></button>
    </div>
    <div class="flex row wrap space-ar links-panel main-content-block">
      <a target="_blank" href="https://discord.gg/z3z2hxMADr"><img class="img-link" src="/images/link-discord.png" alt="Discord — discord.gg/z3z2hxMADr"></a>
      <a target="_blank" href="https://www.youtube.com/catatonicnonsense"><img class="img-link" src="/images/link-youtube.png" alt="Youtube — www.youtube.com/catatonicnonsense"></a>
      <a target="_blank" href="https://www.twitch.tv/alexkostroun"><img class="img-link" src="/images/link-twitch.png" alt="Twitch — www.twitch.tv/alexkostroun"></a>
      <a target="_blank" href="https://twitter.com/_stingwray"><img class="img-link" src="/images/link-twitter.png" alt="Twitter — twitter.com/_stingwray"></a>
      <a target="_blank" href="https://vk.com/alexkostrounstreams"><img class="img-link" src="/images/link-vk.png" alt="VK — vk.com/alexkostrounstreams"></a>
    </div>
    <div class="flex row wrap space-ar footer">
      Kostroun.gg © 2021
    </div>
  </body>
</html>