:root {
    /*  COLORS  */
    --night: rgba(17, 17, 17, 1);
    --eerie-black: rgba(27, 27, 27, 1);
    --raisin-black: rgba(36, 33, 36, 1);
    --jet: rgba(52, 52, 52, 1);
    --davy-gray: rgba(85, 85, 85, 1);
    --white: rgba(242, 243, 244, 1);
    --neon-green: rgba(57, 255, 20, 1);
    --auburn: rgba(165, 42, 42, 1);
    --dark-cyan: rgba(0, 139, 139, 1);
    --gold: rgba(212, 175, 55, 1);

    /*  SHADOWS  */
    --light-1: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    --light-2: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --light-3: rgb(38, 57, 77) 0px 20px 30px -10px;
    --dark-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --dark-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --dark-3: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --dark-4: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    --inner-1: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    --inner-2: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--night);
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container {
    background-color: var(--eerie-black);
    width: 1024px;
    height: 1024px;
    box-shadow: var(--light-2);
}