:root {
  --crimson-ua: hsla(0, 49%, 39%, 1);
  --viridian-green: hsla(180, 49%, 39%, 1); 
  --viridian-gradient: linear-gradient(180deg, var(--bg-main) 20%, var(--viridian-green) 70%, var(--accent-main));

  --accent-main: hsla(180, 12%, 95%, 1);
  --accent-alt: hsla(180, 5%, 85%, 1);
  --accent-opaq-light: hsla(180, 12%, 95%, 0.3);
  --accent-opaq-heavy:hsla(180, 12%, 95%, 0.7);

  --bg-main: hsla(0, 5%, 15%, 1);
  --bg-alt: hsla(0, 2%, 20%, 1);
  --bg-opaq-light: hsla(0, 5%, 15%, 0.3);
  --bg-opaq-heavy: hsla(0, 5%, 15%, 0.7);

  --clear: hsla(0, 0% 100%, 0);
  --shadow-light: hsla(0, 0%, 0%, 0.1);
  --shadow-heavy:hsla(0, 0%, 0%, 0.3);
  --light-light: hsla(0, 0%, 100%, 0.1);
  --light-heavy: hsla(0, 0%, 100%, 0.3);
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 6em;
  padding: 30px;
  font-family: 'Roboto';
  font-size: 1em;
  color: var(--accent-main);
  scrollbar-width: thin;
  scrollbar-color: var(--crimson-ua) var(--bg-main);
  background-color: var(--bg-main);
  }
  body.reverse-colors {
    background-color: var(--bg-alt);
  }
  body.locked {
    overflow: hidden;
  }

h2 {
  white-space: nowrap;
}

h3 {
  margin: 0em 1em 1em 0em;
  white-space: nowrap;
}

p {
  margin: 0.2em 1em;
}

th {
  text-align: start;
}

a {
  color: var(--accent-opaq-heavy);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  a:hover {
    color: var(--accent-main);
  }

a.city-anchor {
  position: relative;
  top: -9em;
}

input {
  color: var(--accent-main);
  border-color: var(--viridian-green);
  background-color: var(--bg-opaq-heavy);
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--clear-color);
  border: var(--clear-color);
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--shadow-heavy);
  z-index: 5;
  }
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--accent-main);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--accent-main) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.hide-overflow-dots {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.flex {
  display: flex;
  }
  .flex.wrap {
    flex-wrap: wrap !important;
  }
  .flex.row {
    flex-flow: row;
  }
  .flex.col {
    flex-flow: column;
  }
  .flex.space-betw {
    justify-content: space-between;
  }
  .flex.space-ar {
    justify-content: space-around;
  }
  .flex.just-center {
    justify-content: center;
  }
  .flex.align-i-center {
    align-items: center;
  }
  .flex.align-i-start {
    align-items: flex-start;
  }
  .flex.align-i-end {
    align-items: end;
  }
  .flex.align-c-center {
    align-content: flex-start;
  }
  .flex.align-c-end {
    align-content: flex-end;
  }

.mrg-1em {
  margin: 1em;
}
.mrg-01em {
  margin: 0 1em;
}
.mrg-01em00 {
  margin: 0 1em 0 0;
}
.mrg-2em {
  margin: 2em;
}

.pdng-1em {
  padding: 1em;
}

.pdng-01em {
  padding: 0 1em;
}
.pdng-1em0 {
  padding: 1em 0;
}

.w-16em {
  width: 16em;
}
.w-20em {
  width: 20em;
}
.w-100 {
  width: 100%;
}

.min-w-3em {
  min-width: 3em;
}
.min-w-6em {
  min-width: 6em;
}

.h-20em {
  height: 20em;
}

.white-space-nowrap {
  white-space: nowrap;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    height: 6em;
    position: fixed;
    align-items: center;
    padding: 0em 1em;
    background-color: var(--bg-alt);
    z-index: 3;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .header.reverse-colors {
    background-color: var(--bg-main);
  }
  .logo {
    font-weight: 800;
    font-size: 38px;
    margin: 0em 1em;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    .logo:hover {
      cursor: pointer;
      text-shadow: 0 6px 9px var(--shadow-heavy), 0 3px 6px var(--shadow-light);
    }
    .logo > .kstr {
      color: var(--crimson-ua);
      }
    .logo > .gg {
      color: hsla(0, 0%, 0%, 0);
      background: var(--viridian-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      filter: saturate(200%);
      }

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: 2em;
  position: fixed;
  align-items: center;
  padding: 0em 1em;
  background-color: var(--bg-main);
  z-index: 3;
  overflow-x: auto;
  overflow-y: hidden;
}
.footer.reverse-colors {
  background-color: var(--bg-main);
}

.template {
  display: none !important;
}

.btn {
  font-size: 0.9em;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 2px;
  margin: 1em 1em;
  padding: 1em;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  .btn:hover {
    cursor: pointer;
    background-color: var(--accent-opaq-light);
    box-shadow: 0 6px 9px var(--shadow-heavy), 0 3px 6px var(--shadow-light);
  }
  .btn.inline {
    padding: 0.25em 0.5em;
    margin: 0.25em;
  }
  .btn.w-100 {
    width: 100%;
  }

.switch-container {
    min-width: 4em;
  }
  .switch-btn > .label {
    min-width: 10em;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2em;
    }
    .switch > input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 1em;
      background-color: var(--bg-main);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 1.6em;
      width: 1.6em;
      top: 0.15em;
      bottom: 0.15em;
      left: 0.2em;
      border-radius: 1em;
      background: var(--viridian-green);
      filter: saturate(200%);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    input:checked + .slider {
      background-color: var(--crimson-ua);
    }

    input:focus + .slider {
      outline: 5px auto Highlight;
      outline: 5px auto -webkit-focus-ring-color;
    }

    input:checked + .slider:before {
      transform: translateX(2em);
    }

.main-content-block {
  margin: 2em;
  background-color: var(--bg-alt);
  border-radius: 1em;
  scrollbar-width: thin;
  box-sizing: border-box;
  }
  .main-content-block.blurred {
    opacity: 0.5;
    filter: blur(8px);
  }

.close-btn {
  position: fixed;
  top: 0.1em;
  right: 0.5em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-weight: 200;
  padding: 0.2em;
  width: 1em;
  height: 1em;
  z-index: 4;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  .close-btn:hover {
    background-color: var(--accent-opaq-light);
    box-shadow: 0 6px 9px var(--shadow-heavy), 0 3px 6px var(--shadow-light);
  }

.gizmo {
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 6em;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em;
    box-sizing: border-box;
    scrollbar-width: thin;
    background-color: var(--bg-opaq-heavy);
    z-index: 3;
  }

.img-link {
  opacity: 0.7;
  border-radius: 8px;
  margin: 2em;
  height: 8em;
  box-shadow: 0 6px 9px var(--shadow-heavy), 0 3px 6px var(--shadow-light);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  .img-link:hover {
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 6px 9px var(--shadow-heavy), 0 3px 6px var(--accent-opaq-light);
  }

.card {
  margin: 1em 1em;
  padding: 1em;
  border-radius: 2px;
  background-color: var(--bg-alt);
  box-shadow: 0 6px 9px var(--shadow-light), 0 3px 6px var(--shadow-light);
  }
  .card.min-w-30em {
    min-width: 30em;
  }
  .card.min-w-18em {
    min-width: 18em;
  }
  .card.min-w-12em {
    min-width: 12em;
  }
  .card.reverse-colors {
    background-color: var(--bg-main);
  }
  .table-field {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    .table-field:hover {
      background-color: var(--bg-opaq-light);
    }

.gen-tweaking-panel {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  scrollbar-width: thin;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  .gen-tweaking-panel.active {
    opacity: 1;
    overflow-x: auto;
    max-height: 4em;
    padding: 1em 0;
    background-color: var(--bg-alt);
  }
  .gen-tweak-option {
    margin: 0em 1em;
  }

.gen-container:not(:first-child) {
  opacity: 0.5;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  .gen-container:not(:first-child):hover {
    opacity: 1;
  }

.city-list.gizmo {
  top: 8em;
  overflow-x: auto !important;
}

.city-wrapper {
  padding: 1em;
  width: 100%;
  border-bottom: 4px dashed var(--crimson-ua);
  border-radius: 2px;
}

.city-anchors {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  top: 5em;
  left: 0;
  right: 0;
  position: fixed;
  padding: 0em 1em;
  background-color: var(--bg-alt);
  }
  .city-anchors.reverse-colors {
    background-color: var(--bg-main);
  }

.stat-input {
  width: 3em;
  font-family: inherit;
  }
  .stat-input.w-18em {
    width: 18em;
  }
  .stat-input.w-14em {
    width: 14em;
  }
  .stat-input.w-10em {
    width: 10em;
  }
  .stat-input.w-2em {
    width: 2em;
  }
  .stat-input.changed {
    border-color: var(--crimson-ua);
  }

table.table-100-w {
  width: 100%;
}
  
