:root {
  --red-color: hsla(0, 49%, 39%, 1);
  --red-color-highlight: hsla(0, 49%, 69%, 1);
  --teal-color: hsla(180, 49%, 39%, 1);
  --teal-color-highlight: hsla(180, 49%, 69%, 1);

  --main-bg-color: hsla(180, 49%, 10%, 1);
  --second-bg-color: hsla(180, 49%, 15%, 1);
  --third-bg-color: hsla(180, 15%, 59%, 0.3);
  --fourth-bg-color: hsla(180, 15%, 59%, 0.5);
  
  --main-cont-color: hsla(180, 49%, 87%, 1);
  --second-cont-color: hsla(180, 49%, 87%, 0.67);
  --third-cont-color: hsla(180, 49%, 87%, 0.5);

  --clear-color: hsla(180, 100% 100%, 0);

}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 6em;
  padding: 30px;
  font-family: 'Roboto';
  font-size: 1em;
  color: var(--main-cont-color);
  background-color: var(--main-bg-color);
}

h1 {
  color: var(--main-cont-color);
}
h3 {
  margin: 0em 1em 1em 0em;
}

p {
  margin: 0.2em 1em;
}

th {
  text-align: start;
}

a {
  color: var(--second-cont-color);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  a:hover {
    color: var(--main-cont-color);
  }

a.city-anchor {
  position: relative;
  top: -9em;
}

input {
  color: var(--second-cont-color);
  border-color: var(--third-bg-color);
  background-color: var(--third-bg-color);
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--clear-color);
  border: var(--clear-color);
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(180, 100%, 0%, 0.5);
  z-index: 3;
  }
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.city-wrapper {
  padding: 1em;
  width: 100%;
  border-bottom: 4px dashed var(--second-cont-color);
  border-radius: 2px;
}

.template {
  display: none !important;
}

.flex {
  display: flex;
  }
  .flex.wrap {
    flex-wrap: wrap !important;
  }
  .flex.row {
    flex-flow: row;
  }
  .flex.col {
    flex-flow: column;
  }
  .flex.space-betw {
    justify-content: space-between;
  }
  .flex.space-ar {
    justify-content: space-around;
  }
  .flex.just-center {
    justify-content: center;
  }
  .flex.align-i-center {
    align-items: center;
  }
  .flex.align-i-start {
    align-items: flex-start;
  }
  .flex.align-c-center {
    align-content: flex-start;
  }

.mrg-1em {
  margin: 1em;
}
.mrg-01em {
  margin: 0 1em;
}
.mrg-01em00 {
  margin: 0 1em 0 0;
}
.mrg-2em {
  margin: 2em;
}

.pdng-1em {
  padding: 1em;
}

.pdng-01em {
  padding: 0 1em;
}
.pdng-1em0 {
  padding: 1em 0;
}

.w-16em {
  width: 16em;
}
.w-20em {
  width: 20em;
}
.w-100 {
  width: 100%;
}

.min-w-3em {
  min-width: 3em;
}
.min-w-6em {
  min-width: 6em;
}

.h-20em {
  height: 20em;
}

.top-brd-dash {
  padding-top: 1em;
  border-top: 4px dashed var(--second-cont-color);
}

.hide-overflow-dots {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn-panel {
    top: 0;
    left: 0;
    width: 100%;
    height: 6em;
    position: fixed;
    align-items: center;
    padding: 0em 1em;
    background-color: var(--second-bg-color);
    z-index: 2;
  }
  .logo {
    font-weight: 800;
    font-size: 32px;
    margin: 0em 1em;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    .logo:hover {
      cursor: pointer;
    }
    .logo > .kstr {
      color: var(--red-color);
      }
      .logo > .kstr:hover {
        color: var(--red-color-highlight);
      }
    .logo > .gg {
      color: var(--teal-color);
      }
      .logo > .gg:hover {
        color: var(--teal-color-highlight);
      }

.btn {
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 2px;
  margin: 1em 1em;
  padding: 1em;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  .btn:hover {
    cursor: pointer;
    background-color: var(--fourth-bg-color);
    box-shadow: 0 6px 9px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
  }
  .btn.inline {
    padding: 0.25em 0.5em;
    margin: 0.25em;
  }
  .btn.w-100 {
    width: 100%;
  }

.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;
  }
  .switch > input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background-color: var(--third-bg-color);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    top: 3px;
    left: 3px;
    border-radius: 25px;
    background-color: var(--teal-color);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  input:checked + .slider {
    background-color: var(--main-bg-color);
  }

  input:focus + .slider {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
  }

  input:checked + .slider:before {
    transform: translateX(32px);
  }

.close-btn {
  position: fixed;
  right: 0.5em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-weight: 200;
  padding: 0.2em;
  width: 1em;
  height: 1em;
  z-index: 2;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  .close-btn:hover {
    background-color: var(--fourth-bg-color);
    box-shadow: 0 6px 9px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
  }

.gizmo {
    overflow: auto;
    position: fixed;
    top: 6em;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--red-color) var(--third-cont-color);
    background-color: var(--third-bg-color);
  }

.gen-tweaking-panel {
  max-height: 0;
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--red-color) var(--third-cont-color);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  .gen-tweaking-panel.active {
    overflow-x: auto;
    max-height: 4em;
    padding: 1em 0;
    background-color: var(--third-bg-color);
  }
  .gen-tweak-option {
    margin: 0em 1em;
  }

.gen-container:not(:first-child) {
  opacity: 0.5;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  .gen-container:not(:first-child):hover {
    opacity: 1;
  }


.city-anchors {
  top: 5em;
  left: 0;
  width: 100%;
  position: fixed;
  padding: 0em 1em;
  background-color: var(--second-bg-color);
}

.card {
  margin: 1em 1em;
  padding: 0.5em;
  border-radius: 2px;
  background-color: var(--second-bg-color);
  box-shadow: 0 6px 9px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
  }
  .card.min-w-30em {
    min-width: 30em;
  }
  .card.min-w-18em {
    min-width: 18em;
  }
  .card.min-w-12em {
    min-width: 12em;
  }
  .table-field {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    .table-field:hover {
      background-color: var(--third-bg-color);
    }

.stat-input {
  width: 3em;
  font-family: inherit;
  }
  .stat-input.w-18em {
    width: 18em;
  }
  .stat-input.w-14em {
    width: 14em;
  }
  .stat-input.w-10em {
    width: 10em;
  }
  .stat-input.w-2em {
    width: 2em;
  }
  .stat-input.changed {
    border-color: var(--red-color);
  }

table.table-100-w {
  width: 100%;
}
  
