html {
  scroll-behavior: smooth;
}

body {
  margin-top: 6em;
  padding: 30px;
  font-family: 'Roboto';
}

h1 {
  color: hsla(0, 0%, 95%, 1);
}
h2 {
  text-align: center;
  align-items: center;
}

p {
  margin: 0.2em 1em;
}

th {
  text-align: start;
}

tr:nth-child(even) {
  background-color: hsla(0, 0%, 95%, 1);
}

a.city-anchor {
  position: relative;
  top: -9em;
}

.city-wrapper {
  padding: 1em;
  width: 100%;
  border-bottom: 4px dashed hsl(259.8, 80.4%, 80%);
  border-radius: 2px;
}

.template {
  display: none !important;
}

.flex {
  display: flex;
  }
  .flex.row {
    flex-flow: row;
  }
  .flex.col {
    flex-flow: column;
  }
  .flex.space-betw {
    justify-content: space-between;
  }
  .flex.just-center {
    justify-content: center;
  }
  .flex.align-center {
    align-items: center;
  }

.mrg-1em {
  margin: 1em;
}
.mrg-2em {
  margin: 2em;
}

  

  



  .spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(180, 100%, 0%, 0.5);
    z-index: 3;
    }
    .lds-ring {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

.btn-panel {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 0em 1em;
    background-color: hsla(0, 0%, 65%, 1);
    z-index: 2;
  }
  .btn {
    font-size: 0.9em;
    border-radius: 2px;
    margin: 1em 1em;
    padding: 1em;
    background-color: hsla(260, 80%, 80%, 1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
    }
    .btn:hover {
      cursor: pointer;
      background-color: hsla(260, 40%, 90%, 1);
      box-shadow: 0 6px 9px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    .btn.inline {
      padding: 0.25em 0.5em;
      margin: 0.25em;
    }

.city-anchors {
  top: 5em;
  left: 0;
  width: 100%;
  position: fixed;
  padding: 0em 1em;
  background-color: hsla(0, 0%, 65%, 1);
}

.card {
  margin: 0 1em;
  padding: 1em;
  border-radius: 2px;
  box-shadow: 0 6px 9px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
  }
  .card.min-w-30em {
    min-width: 30em;
  }
  .card.min-w-18em {
    min-width: 18em;
  }
  .card.min-w-12em {
    min-width: 12em;
  }

.table-field:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 90%, 1);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.stat-input {
  width: 3em;
  }
  .stat-input.w-14em {
    width: 14em;
  }
  .stat-input.w-10em {
    width: 10em;
  }
  .stat-input.changed {
    border-color: hsla(180, 77%, 50%, 0.67);
  }
  
